# Secrets
*.env
*.key
*.secret
*.pem
*.p12
Notes/*
#DiffServ_0112_1730_coco2/*
DiffServ_0112_1730_coco2/0112_1730_coco/annotations/*
DiffServ_0112_1730_coco2/0112_1730_coco/client_received/*
DiffServ_0112_1730_coco2/0112_1730_coco/src/venv_diffserve/*
DiffServ_0112_1730_coco2/0112_1730_coco/venv_diffserve/*
DiffServ_0112_1730_coco2/stable-diffusion-v1-4/*
huggingface_tokens.md
dump_codebase.sh
codebase_dump.txt
config/*.json
config/*.yaml
credentials/
.secrets/
.env.*
